body {
  font-family: Arial;
}

.card {
  width: 625px;
}

.poll__title {
  margin-bottom: 20px;
}

.poll__answer {
  background-color: buttonface;
  color: buttontext;
  margin: 0 5px;
  border-radius: 10px;
}